{% extends "theme.html" %}

{% block title %}
	{{ super() }}
    Add Book
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Add Book Page</h2>
    </div>
	</div>
	<div class="row">
	    <div class="col-lg-12">
	        <div class="panel panel-info">
	            <div class="panel-heading">

	            </div>
	            <!-- /.panel-heading -->
	            <div class="panel-body">

                    <div class="page-header">
                        <h2>Add Book</h2>
                    </div>

                    <form action="{{url_for('members.add_book')}}" method="post">
                        {{ form.csrf_token }}
                        {{ form.book_name(placeholder="Book Name") }}
                        {{ form.reason(placeholder="Reason ") }}
                        <button class="btn btn-sm btn-success" type="submit">Add Book</button>
                    </form>

                </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->
	    </div>
	    <!-- /.col-lg-12-->
	</div>
{% endblock %}
