{% extends "theme.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}

    <div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Dashboard Page</h2>
    </div>
	</div>
	<div class="row">
	    <div class="col-lg-12">
	        <div class="panel panel-info">
	            <div class="panel-heading">

	            </div>
	            <!-- /.panel-heading -->
	            <div class="panel-body">
					<div class="dataTable_wrapper">
						<table class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
								<tr>
									<th>Nama</th>
									<th>Reason </th>
                                    <th>Action</th>
								</tr>
							</thead>
							<tbody>
							{% for list in book %}
								<tr class="odd gradeX">
									<td><a href="{{ url_for('members.book_details', book_id=list.id) }}">{{ list.book_name }}</a></td>
									<td>{{ list.reason }}</td>
                                    <td>
                                        <a href="{{ url_for('members.book_delete', book_id=list.id) }}">Delete</a>
                                        |
                                        <a href="{{ url_for('members.book_edit', book_id=list.id) }}">Edit</a>
                                    </td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
	            </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->
	    </div>
	    <!-- /.col-lg-12-->
	</div>
{% endblock %}
