{% extends "login_layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block title %}
    Reset
{% endblock %}

{% block body %}
<div class="container">
  <section id="content">
    <form action="{{ url_for('users.reset') }}" method="POST">
      <h1>Reset Password</h1>
      {{ form.csrf_token }}
      {{ render_field(form.email, placeholder="Enter Email Address", id="username") }}
      <div>
        <input type="submit" />
        <a href="/login">Login</a>
      </div>
    </form><!-- form -->
  </section><!-- content -->
</div><!-- container -->

{% endblock %}
