{% extends "login_layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block title %}
    Reset
{% endblock %}

{% block body %}

<div class="container">
  <section id="content">
    <form action="{{ url_for('users.reset_with_token', token=token) }}" method="POST">
      <h1>Reset Password</h1>
      {{ form.csrf_token }}
      {{ render_field(form.password, placeholder="Enter New Password") }}
      <div>
        <input type="submit" />
      </div>
    </form><!-- form -->
  </section><!-- content -->
</div><!-- container -->



{% endblock %}
